
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello admin, <%= @user %></h1>
    <p>
      A new review has been added to the site, check it out!
      
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Hvae a great day!</p>
  </body>
</html>